* {
    -fx-foreground-color: #412714;
    -fx-primary-container: #e4dcb6;
    -fx-secondary-container: #dad2ac;
    -fx-primary-border-color: #412714;
    -fx-accent-bg-color: #a49849;
    -fx-accent-fg-color: #2c2119;
    -fx-third-bg-color: #f6f3e4;
}

#pane{
    -fx-background-image: url("../images/background.png");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
}

.connection-box {
    -fx-background-color: -fx-primary-container;
    -fx-border-color: -fx-primary-border-color;
    -fx-border-width: 5px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

.input {
    -fx-text-fill: -fx-foreground-color;
    -fx-background-color: -fx-third-bg-color;
    -fx-font-size: 30px;
    -fx-accent: -fx-accent-bg-color;
}

.input-label {
    -fx-text-fill: -fx-foreground-color;
    -fx-font-size: 30px;
}
.radio {
    -fx-text-fill: -fx-foreground-color;
    -jfx-selected-color: -fx-accent-bg-color;
    -fx-font-size: 30px;
    -fx-focus-color: transparent;
}

.radio .radio {
    -fx-background-image: null;
    -fx-background-color: -fx-third-bg-color;

}
.radio:selected .radio .dot {
    -fx-text-fill: -fx-foreground-color;
    -fx-background-color: -fx-accent-bg-color;
    -fx-background-insets: 0;
}

.button {
    -fx-text-fill: -fx-accent-fg-color;
    -fx-font-size: 30px;
    -fx-background-color: -fx-accent-bg-color;

    -fx-border-color: -fx-primary-border-color;
    -fx-border-width: 3px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;

    -fx-padding: 16px 32px;
}
.smallbutton {
    -fx-text-fill: -fx-accent-fg-color;
    -fx-font-size: 20px;
    -fx-background-color: -fx-accent-bg-color;

    -fx-border-color: -fx-primary-border-color;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;

    -fx-padding: 12px 20px;
}

.title {
    -fx-font-size: 40px;
    -fx-text-fill: -fx-foreground-color;
}
.lobby-title {
    -fx-font-size: 30px;
}

.lobby-player {
    -fx-font-size: 16px;
}

.lobby-container {
    -fx-background-color: -fx-primary-container;
    -fx-background-radius: 20px;
}

.lobby-card {
    -fx-background-color: -fx-secondary-container;
    -fx-padding: 5 5 5 5;
}
.lobby-card2 {
    -fx-background-color: -fx-third-bg-color;
}
.button:hover {
    -fx-background-color: -fx-secondary-container;
    -fx-text-fill: -fx-accent-bg-color;
    -fx-border-color: -fx-accent-bg-color;
}

.gamecard {
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}


.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: background;
    -fx-background-insets: -1.4, 0, 1, 2;
}


/* Scrollbar theming*/
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}
.scroll-bar:horizontal .track-background,
.scroll-bar:vertical .track-background{
    -fx-background-color: -fx-third-bg-color;
}
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : -fx-accent-bg-color;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : -fx-secondary-container;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
